<!DOCTYPE html>
<html>
    <head>
        <title>Node Is</title>
        <style>
            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Node is <%= attribute %></h1>
    </body>
</html>